[Unit]
Description=Daily popular articles synchronization

[Timer]
OnCalendar=*-*-* 02:30:00 UTC
RandomizedDelaySec=15m
Persistent=true
Unit=middleware-popular-articles.service

[Install]
WantedBy=timers.target
